<div class="login-container">
  <form (ngSubmit)="register()" [formGroup]="loginForm">
    <h2>Registration</h2>
    <div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" class="text">
      </div>
      <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched" class="error-message">
        <div *ngIf="loginForm.get('username').errors?.['required']">Username is required.</div>
        <div *ngIf="loginForm.get('username').errors?.['email']">Invalid username format.</div>
        <div *ngIf="loginForm.get('username').errors && loginForm.get('username').errors['minlength']">Username must be at least 3 characters long.</div>
        <div *ngIf="loginForm.get('username').errors && loginForm.get('username').errors['maxlength']">Username cannot exceed 20 characters.</div>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" class="text">
      </div>
      <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" class="error-message">
        <div *ngIf="loginForm.get('email').errors?.['required']">Email is required.</div>
        <div *ngIf="loginForm.get('email').errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" class="text">
      </div>
      <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="error-message">
        <div *ngIf="loginForm.get('password').errors && loginForm.get('password').errors['required']">Password is required.</div>
        <div *ngIf="loginForm.get('password').errors && loginForm.get('password').errors['minlength']">Password must be at least 6 characters long.</div>
        <div *ngIf="loginForm.get('password').errors && loginForm.get('password').errors['maxlength']">Password cannot exceed 20 characters.</div>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Register</button>
    <p>Already have an account? <a (click)="redirectToLogin()">Login</a></p>
  </form>
</div>