.header {
    background-color: var(--blue);
    width: 100%;
    border-bottom: solid 1px var(--main);
    .header-container {
        background-color: var(--blue);
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .logo {
            img {
                height: 40px;
            }
        }
    }    
    
    .login-button {
      padding: 10px 20px;
      color: var(--main);
      text-decoration: none; 
      border-radius: 5px;
      border: solid 1px var(--main);
    }
    
    .login-button:hover {
      background-color: var(--dark-blue); /* Цвет фона кнопки при наведении */
      cursor: pointer;
    }
        
}
  
